img{
	width: 100%;
	height: auto;
}img{
	width: 100%;
	height: auto;
}/* Scss Document */

@font-face {
    font-family: 'Merriweather', serif;
}
@font-face {
    font-family: 'Montserrat', sans-serif;
}

header, article, footer{
    font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0; }
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  -webkit-transition: 0.2s, color 0.2s;
  transition: 0.2s, color 0.2s;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s, 0.2s;
          transition-duration: 0.2s, 0.2s;
  -webkit-transition-timing-function: ease, ease;
          transition-timing-function: ease, ease;
  -webkit-transition-delay: 0s, 0s;
          transition-delay: 0s, 0s; }

html {
  scroll-behavior: smooth; }

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0; }

p {
  margin-bottom: 0; }

a {
  color: #333; }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

$brown:#7A3E0C;
$lightgray:#828282;

.fix-text {
    display: -webkit-box;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text3 {
    display: -webkit-box;
    line-height: 1.38;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.fix-text4 {
    display: -webkit-box;
    line-height: 1.38;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.font-merri{
    font-family: 'Merriweather', serif;
}
.thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumb-item{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    
    img{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.thumb-5x3 {
    padding-bottom: 60%;
}
.thumb-5x4 {
    padding-bottom: 66.67%;
}
.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}
.bg-base {
    background-color: #fff8f2;
//    #f2f2f4
}
.bg-white{
    background-color: white;
}
.bg-blue{
    background-color: #21c9f6;
}
.bg-gradient{
//background: rgb(87,87,87);
//background: linear-gradient(0deg, rgba(87,87,87,0.8690826672465861) 0%, rgba(98,98,98,0.7290266448376226) 35%, rgba(120,120,120,0) 100%);
    background-image: linear-gradient(270deg, #7A3E0C 0%, #DFA845 100.06%);
}
.w-1120{
	max-width: 1120px;
}
.w-1142{
    max-width: 1142px; 
}
.bg-opacity{
    background-color: rgba(220, 220, 220, 0.7);
}
.text-darkblue{
    color: #273D52;
}
.text-lightgray{
    color: $lightgray;
}
.text-brown{
    color: $brown;
}
.text-gold{
    color: #E5B764;
}
.text-2{
    color: #4F4F4F;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.hover-shadow{
    transition: 0.3s;
	&:hover{
		transition: 0.3s;
		box-shadow: 0 7px 19px -8px #000000;
	}
}
#header.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}
@mixin fluid-type($min-font-size, $max-font-size, $lower-range, $upper-range) {

  font-size: calc(#{$min-font-size} + #{(($max-font-size / ($max-font-size * 0 + 1)) - ($min-font-size / ($min-font-size * 0 + 1)))} * ( (100vw - #{$lower-range}) / #{(($upper-range / ($upper-range * 0 + 1)) - ($lower-range / ($lower-range * 0 + 1)))}));
  
  @media screen and (max-width: $lower-range) {
    font-size: $min-font-size;
  }
  @media screen and (min-width: $upper-range){
    font-size: $max-font-size;
  }
}
p {
  @include fluid-type(14px, 20px, 600px, 1200px); 
  font-weight: normal
}
.h1-mon{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;
}
.h2-mon{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
.h3-mon{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}
.h4-mon{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}
.sub-title-18{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
}
.sub-title-14{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
}
.sub-title-12{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 15px;
}
//$sizes: (
//  25: 25%,
//  50: 50%,
//  75: 75%,
//  100: 100%,
//);
//
//@each $breakpoint in map-keys($grid-breakpoints) {
//  @include media-breakpoint-down($breakpoint) {
//    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
//
//    @each $prop, $abbrev in (width: w, height: h) {
//      @each $size, $length in $sizes {
//        .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
//      }
//    }
//
//  }
//}
.main-aside{
    width: 330px;
}
.search-bar {
    border: 1px solid #7A3E0C;
    box-sizing: border-box;
    border-radius: 5px;
    width: 174px;
			.input-group-prepend{
				
				border-right: none;
			}
            .search-bar_input {
                padding: 8px 0px;
                box-shadow: none;
                margin-top: .2px;
				border: 2px solid #31B6E8;
                border-radius: 5px 0 0 5px;
				border-right: none;
            }
            .search-bar_input:hover {
                box-shadow: none;
            }
        }
.site-logo{
width: 212px;
}
.nav_desktop{
    background-color: #a00106;
    .nav_item{
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 13px 3px;
        a{
            color:#828282;
        }
        .nav_item_dropdown{
            display: none;
            .nav_item_dropdown-item{
                border-bottom: 1px solid #e2e2e2;
                color: #939393;
                :last-child{
                    border: none;
                }
            }
        }
    }
    .nav_item:hover{
        a{
            color:$brown;
        }
        .nav_item_dropdown{
            position: absolute;
            bottom: -99px;
            z-index: 2;
            display: block;
            background-color: #fff;
        }
        .nav_item_dropdown:hover{
            display: block;
            .nav_item_dropdown-item:hover{
                color: $brown;
            }
        }
    }
    .nav_item.active{
        border-bottom: 3px solid $brown;
        a{
            color: $brown;
        }
    }
}
.slide-main {
        width: 100%;
        height: 500px;
        right: 0;
        .slide {
            width: 100%;
            height: 100%;
            .carousel-inner {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
                .carousel-item {
                    width: 100%;
                    height: 100%;
                    .carousel-caption {
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.2);
                    }
                    a {
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
            .carousel-control-prev,
            .carousel-control-next {
                z-index: 2;
            }
        }
    }
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #BDBDBD;
    opacity: 10;
    margin: 0 5px;
}

.carousel-indicators .active {
    background-color: $brown;
}
.main-news{
	.main-news-article{
		max-width: 760px;
	}
	.main-news-aside{
		width: 320px;
		.card-body{
			.card-title{
				height: 50px
			}
		}
	}
}
.grid-col4{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2%;
    .md-card_image{
        height: 132px;
    }
    .sm-card_image{
        height: 101px;
    }
}
.grid-col4.grid-col4_small{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.grid-col-4{
    grid-template-columns: repeat(4,260px);
}
.section-title{
    display: flex;
    align-items: center;
    color: $brown;
    @extend .h2-mon;
    &:before{
	content: "";
    width: 52px;
    height: 36px;
    display: inline-block;
    background-image: url(../images/icon/gold-lotus.svg);
    background-repeat: no-repeat;
    margin-right: 16px;
    }
}
.card-mini{
	.card-mini-image{
		height: 95px;
	}
}
.cate-list{
    .cate-list_item{
        padding: 0 16px;
    }
}
.card-col6{
	.card-col6_image{
		height: 315px;
	}
}
.mini-news{
    .mini-news_item{
        padding-bottom: 14px;
        margin-bottom: 14px;
//        border-bottom: 1px solid #e6e6e6;
        border-bottom: 1px solid #0000001b;
        &:last-child{
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
.card-news-normal{
	&_image{
	height: 204px;
	}
}

.aside-news-list{
	.aside-news-list_item{
		border-bottom: 1px solid #f3f3f3 ;
		border-left: none;
		border-right: none;
		border-top: none;
		padding-bottom: 24px;
		margin-bottom: 16px;
		.aside-news-list_item_image{
			width: 105px;
			height: 64px;
		}
		.card-body{
		
		}
	}
	.aside-news-list_item:last-child{
		border-bottom: none;
	}
}
.article-news{
    .article-news-item{
//        border-bottom: 1px solid #eeeee;
        border-bottom: 1px solid #0000001b;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 32px ;
        margin-bottom: 19px;
        &:last-child{
            border-bottom: none;
        }
    }
}

.menu-action{
	display: flex;
	position: relative;
	bottom: -14px;
    right: -183px;
}
/*--------------------------------search -----------------------------------------*/
.container1 {
  position: absolute;
  transform: translate(-100%);
}
.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 8;
  width: 20px;
  height: 20px;
  transition: all .25s ease-in-out .25s;
  color: transparent;
  font-size: .75rem;
  line-height: 25px;
}
.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 182px;
  padding: 0 10px;
  outline: none;
  color: black;
}
.search-box input[type="text"]:focus + span {
  width: 200px;
    height: 25px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all .25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid black;
  top: 0;
  width: 21px;
  height: 21px;
  transition: all .25s ease-in .25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all .25s ease-in .5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: black;
  transform: rotate(45deg) translate(21px, -1px);
}
.side-news{
//    max-height: 315px;
    overflow: hidden
}
.grid-col3{
    display: grid;
//    grid-template-columns: repeat(3, 1fr);
//    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-columns: repeat(auto-fit, minmax(178px, 1fr));
    grid-gap: 0px 20px;
}

.flex-col3{
	.flex-col3-item{
		border-right: 1px solid #dee2e6;
		&:last-child{
			border: none;
		}
	} 
}
.play-button{
    width: 36px;
    height: 36px;
    bottom: 0;
    left: 0;
//    background-color: rgba(220, 220, 220, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    position: absolute;
    background: #e5b76485;
}
.play-time {
    padding:2px 6px;
    position: absolute;
    color: #ffffff;
    right: 0;
    background-color:rgba(0, 0, 0, 0.5);
    bottom: 0px;
    font-size: 14px;
    font-family:Roboto;
}
.mini-video-info{
    display: flex;
    font-family: Arial;
}
.seemore-button, .btn-warning{
    color: #FFFFFF;
    background-color: #E5B764;
    border-color: #E5B764;
}
.item1{
    order: 1;
}
.item2{
    order: 2;
}
.item3{
    order: 3;
}
.aside-section{
    width: 300px;
}
.abbot-section{
	height: 333px;
	.abbot-section-avatar{
		right:64px;
		z-index: 1
	}
	.abbot-section-des{
		padding-left: 64px;
		z-index: 2
	}
}

/*-------------------------------------------------
					----LEAF----
--------------------------------------------------*/
.leaf{
	position: absolute;
	&.leaf-1{
		width: 21%;
	}
	&.leaf-2{
		width: 25%;
		bottom: 0; right: 0
	}
	&.leaf-3{
		transform: rotateX(180deg);
		bottom: 0; 
		width: 15%;
		padding-right: 30px
	}
	&.leaf-4{
		transform: rotateY(150deg);
		bottom: 0;
		width: 10%; 
		left: 50%; 
		bottom: 25%
	}
}
/*-------------------------------------------------
					----END LEAF----
--------------------------------------------------*/
//search bar
.sb-search {
    position: relative;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    outline: none;
    background: #fff;
    width: 85%;
    height: 60px;
    margin: 0;
    z-index: 10;
    /* padding: 20px 65px 20px 20px; */
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}
 
input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
.sb-search-input::-webkit-input-placeholder {
    color: #21c9f6;
}
 
.sb-search-input:-moz-placeholder {
    color: #21c9f6;
}
 
.sb-search-input::-moz-placeholder {
    color: #21c9f6;
}
 
.sb-search-input:-ms-input-placeholder {
    color: #21c9f6;
}

.sb-icon-search,
.sb-search-submit  {
        width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 4px;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    color:#21c9f6;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: black;
    background: white;
    z-index: 90;
    font-size: 20px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    /* border: 1px solid black; */
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
 
.sb-icon-search:before {
    content: "";
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 300%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: white;
    color: #21c9f6;
    z-index: 11;
    justify-content: center;
    align-items: center;
    border: 1px solid #21c9f6;
    display: flex;
    border-radius: 5px;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
/*    z-index: 90;*/
}
.btn-outline-dark-custom{
    color: #828282;
    border-color: #828282;
    margin-left: 8px;
    font-size: 12px;
    padding: 6px 16px;
    font-weight: bold;
    &:hover{
        color: #fff;
    background-color: #E5B764;
    border-color: #E5B764;
    }
}
.top-news{
    height: 288px;
    .top-news-title{
        width: calc(100% - 447px);
    }
    .top-news-image{
        width: 447px;
    }
}
.owl-carousel2{
    .owl-dots{
        button:focus{
            outline: none;
        }
        .owl-dot{
            
        }
        .owl-dot.active span{
            background: #E5B764;
        }
        .owl-dot span{
            width: 15px;
            height: 15px;
            margin: 5px;
            background: #828282;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity .2s ease;
            border-radius: 30px;
        }
    }
}
.owl-carousel3{
	.owl-nav{
		top: 245px;
		.owl-prev-custom, .owl-next-custom{
			width: 64px;
			height: 64px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #E5B764;
			border-radius: 7px;
			i{
				font-size: 35px;
			}
		}
		.owl-prev-custom{
			left: -88px;
		}
		.owl-next-custom{
			right: -88px;
		}
	}
}
.gold-section{
    background-image: url("../images/phap-am-bg.jpg");
    background-size: 100%;
        .section-title{
            display: flex;
            align-items: center;
            color: #ffffff;
            @extend .h2-mon;
            &:before{
            content: "";
            width: 52px;
            height: 36px;
            display: inline-block;
            background-image: url(../images/icon/white-lotus.svg);
            background-repeat: no-repeat;
            margin-right: 16px;
        }
    }
    .cate-list{
        .cate-list_item:first-child{
            border-left: 1px solid #ffffff;
        }
        .cate-list_item{
            padding: 0 25px;
        }
    }
}
.operation-rules{
	.operation-rules-item{
		height: 156px;
		display: flex;
		align-items: center;
		position: relative;
		flex-wrap: wrap;
		.lead-thumb{
			right: 0;
			top: 0;
			width: auto;
		}
		.operation-rules-item-icon{
			width: auto;
			height: 100%
		}
	}
}
.social-icon{
	width: 32px;
	height: 32px;
	background: #bdbdbd;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.footer-section{
	background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #ffffff99;
border-radius: 7px;
	.footer-logo{
		width: 347px;
	}
	.footer-info{
		width: 668px;
		.media-list{
			list-style-type: disc;
			.media-list-icon{
				padding: 7px 0;
				color: #555555;
			}
		}
	}
}
.footer-bg{
		top: -600px; z-index: -1;
	}